name: Go

on:
  push:
    tags:
      - v*
    branches:
    - main
    - master
  pull_request:
    branches:
    - main
    - master
  create:

permissions:
  contents: write
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.20

    - name: Checkout
      uses: actions/checkout@v3

    - name: Build & Test
      run: ./build.sh

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/v')
      with:
        body_path: README.md
        files: ussher
